header{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 143, 30);}
body{margin:0px;
    padding:0px;
    background-size: 100%;}
#botmenu{height: 50px;
    width: 50px;
    border:black 1px solid;
    border:0px;
    cursor:pointer;
    background-color: rgb(255, 143, 30);}
#botmenu img{width:100%;}
.cck{height: 410px;
    width: 300px;
    background-image: url("texturalib1.jpg");
    border:1px black solid;
    border-radius: 15px;
    display:inline-block;
    margin-top: 80px;
    margin-left:230px;
    text-align:center;
    padding:10px;
    background-repeat: no-repeat;
    background-size:600px;}
.cck:hover{padding:15px;
    height:410px;
    width:320px;
    transition-duration: 300ms;
    border:10px,rgb(129, 179, 254) solid;}
.cck a{text-decoration: none;
    color:black;
    font-family:"Monotype Corsiva","Times New Roman";
    font-size: 30px;
    border-radius: 15px;
    border:4px rgb(255, 178, 44) solid;
    overflow:hidden;
    padding:30px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin:0px;
    color:rgb(255, 178, 44);
    }
.cck img{height: 150px;
    width:110px;
    margin-top:50px;
    padding:0px;
    border-radius: 15px;
    opacity:90%;}
#pagcont{height:100px;
    width:100%;
    margin-top:50px;
    display:block;
    border-radius: 15px;
    align-content: center;}